.App {
  text-align: center;
  list-style: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Grid-num-list{
  color: rgb(255, 255, 255);
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #99A1C2;
}

.grid-number{
  border: 1px solid white;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.random-btn{
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
}
